[defaults]
inventory = inventory/localhost.yml
roles_path = roles
interpreter_python = auto_silent
stdout_callback = yaml
retry_files_enabled = False
host_key_checking = False

[privilege_escalation]
become = True
become_method = sudo
