{{ devastation_domain }}:53 {
    errors
    log
    hosts {
{% for record in devastation_dns_records %}
        {{ record.ip }} {{ record.name }}
{% endfor %}
        fallthrough
    }
}

.:53 {
    errors
    cache 30
    forward . {{ dns_upstream_resolvers | join(' ') }}
}
