{{ devastation_domain }}:53 {
    errors
    log
    hosts {
{% for record in devastation_dns_records %}
        {{ record.ip }} {{ record.name }}
{% endfor %}
{% for record in devastation_extra_dns_records %}
        {{ record.ip }} {{ record.name }}
{% endfor %}
        fallthrough
    }
}

{% if apt_cache_transparent_enabled %}
{% for hostname in apt_cache_repository_hostnames %}
{{ hostname }}:53 {
    errors
    log
    hosts {
        {{ devastation_subnets.apt_cache_transparent }} {{ hostname }}
    }
}

{% endfor %}
{% endif %}
.:53 {
    errors
    cache 30
    forward . {{ dns_upstream_resolvers | join(' ') }}
}
