{{ devastation_domain }}:53 {
    errors
    log
    hosts {
{% for record in devastation_dns_records %}
        {{ record.ip }} {{ record.name }}
{% endfor %}
{% for record in devastation_extra_dns_records %}
        {{ record.ip }} {{ record.name }}
{% endfor %}
        fallthrough
    }
}

{% if apt_cache_transparent_enabled %}
{% for hostname in apt_cache_repository_hostnames %}
{{ hostname }}:53 {
    errors
    log
    hosts {
        {{ docker_daemon_dns }} {{ hostname }}
    }
}

{% endfor %}
{% endif %}
{% if gem_cache_transparent_enabled %}
{% for hostname in gem_cache_repository_hostnames %}
{{ hostname }}:53 {
    errors
    log
    hosts {
        {{ docker_daemon_dns }} {{ hostname }}
    }
}

{% endfor %}
{% endif %}
{% if npm_cache_transparent_enabled %}
{% for hostname in npm_cache_repository_hostnames %}
{{ hostname }}:53 {
    errors
    log
    hosts {
        {{ docker_daemon_dns }} {{ hostname }}
    }
}

{% endfor %}
{% endif %}
{% if pypi_cache_transparent_enabled %}
{% for hostname in pypi_cache_repository_hostnames %}
{{ hostname }}:53 {
    errors
    log
    hosts {
        {{ docker_daemon_dns }} {{ hostname }}
    }
}

{% endfor %}
{% endif %}
.:53 {
    errors
    cache 30
    forward . {{ dns_effective_upstream_resolvers | join(' ') }}
}
