[global]
    monitor = 0
    follow = mouse
    width = 420
    height = 300
    origin = top-right
    offset = 18x48
    scale = 0
    notification_limit = 5
    progress_bar = true
    progress_bar_height = 10
    progress_bar_frame_width = 1
    progress_bar_min_width = 150
    progress_bar_max_width = 420
    indicate_hidden = yes
    transparency = 0
    separator_height = 2
    padding = 12
    horizontal_padding = 12
    text_icon_padding = 8
    frame_width = 2
    frame_color = "{{ dunst_frame_color }}"
    separator_color = frame
    sort = yes
    idle_threshold = 120
    font = {{ dunst_font }}
    line_height = 0
    markup = full
    format = "<b>%s</b>\n%b"
    alignment = left
    vertical_alignment = center
    show_age_threshold = 60
    ellipsize = middle
    ignore_newline = no
    stack_duplicates = true
    hide_duplicate_count = false
    show_indicators = yes
    icon_position = left
    min_icon_size = 0
    max_icon_size = 64
    sticky_history = yes
    history_length = 20
    browser = xdg-open
    always_run_script = true
    title = Dunst
    class = Dunst
    corner_radius = 6
    ignore_dbusclose = false
    force_xwayland = false
    force_xinerama = false
    mouse_left_click = close_current
    mouse_middle_click = do_action, close_current
    mouse_right_click = close_all

[urgency_low]
    background = "{{ dunst_low_background }}"
    foreground = "{{ dunst_low_foreground }}"
    timeout = {{ dunst_low_timeout }}

[urgency_normal]
    background = "{{ dunst_normal_background }}"
    foreground = "{{ dunst_normal_foreground }}"
    timeout = {{ dunst_normal_timeout }}

[urgency_critical]
    background = "{{ dunst_critical_background }}"
    foreground = "{{ dunst_critical_foreground }}"
    frame_color = "{{ dunst_critical_frame_color }}"
    timeout = 0
