{
  "name": "devastation-keystone-local",
  "private": true,
  "scripts": {
    "start": "keystone prisma db push && keystone start",
    "dev": "keystone dev"
  },
  "dependencies": {
    "@keystone-6/auth": "8.1.0",
    "@keystone-6/core": "6.5.3",
    "typescript": "^5.7.2"
  },
  "devDependencies": {}
}
