kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: {{ kind_cluster_name }}
networking:
  ipFamily: ipv4
  apiServerAddress: "127.0.0.1"
  apiServerPort: {{ kind_api_port }}
containerdConfigPatches:
  - |-
    [plugins."io.containerd.grpc.v1.cri".registry.configs."registry.{{ devastation_domain }}".tls]
      ca_file = "/etc/containerd/certs.d/registry.{{ devastation_domain }}/ca.crt"
nodes:
  - role: control-plane
{% if kind_extra_mounts | default([]) | length > 0 %}
    extraMounts:
{% for mount in kind_extra_mounts %}
      - hostPath: {{ mount.hostPath | to_json }}
        containerPath: {{ mount.containerPath | to_json }}
        readOnly: false
{% endfor %}
{% endif %}
    extraPortMappings:
      - containerPort: 80
        hostPort: 8088
      - containerPort: 443
        hostPort: 8448
