{
  "identities": [
    {
      "name": "devastation",
      "credentials": [
        {
          "accessKey": "{{ seaweedfs_access_key }}",
          "secretKey": "{{ seaweedfs_secret_key }}"
        }
      ],
      "actions": [
        "Admin",
        "Read",
        "Write",
        "List",
        "Tagging"
      ]
    }
  ]
}
