SSL_CERT_FILE=/etc/devastation/ca-certificates.crt
CURL_CA_BUNDLE=/etc/devastation/ca-certificates.crt
REQUESTS_CA_BUNDLE=/etc/devastation/ca-certificates.crt
NODE_EXTRA_CA_CERTS=/etc/devastation/ca-certificates.crt
